body {
  background-color: rgba(19, 155, 180, .1);
}

.container {
  margin-top: -30px;
}

.col {
  padding: 20px 0;
}

.detached {
  text-align: center;
}

.detached > div > div {
  overflow-y: auto;
  overflow-x: hidden;
  padding: 10px;
  margin-bottom: 10px;
  background-color: #FFF;
  border: 1px solid #d8e2e8;
  border-radius: 4px;
  transition: 0.2s;
}

.detached > div:hover > div {
  border: 1px solid rgba(19, 155, 189, .5);
  box-shadow: 0 0 0 2px rgba(19, 155, 189, .5);
  background: rgba(200, 200, 200, 0.1);
  transition: 0.5s;
}

#jsconfbr-family {
    top: 55px;
    margin-bottom: 55px;
    height: 370px;
    text-align: center;
    background: url('http://2014.jsconfbr.org/images/front.jpg') center no-repeat;
}

#jsconfbr-family h1, #jsconfbr-family h2 {
    position: relative;
    margin: 0;
    font-weight: normal;
    text-align: center;
    text-shadow: 0 1px 3px rgba(0,0,0,.4),0 0 30px rgba(0,0,0,.075);
    color: #fff;
}

#github-link {
  position: relative;
  top: 80px; 
}

#jsconfbr-family h1 {
    top: 55px;
    font-size: 72px;
}

#jsconfbr-family h2 {
  top: 60px;
  font-size: 31px;
}

#jsconfbr-family .logo {
    position: relative;
    top: 30px;
    width: 80px;
    height: 80px;
    box-shadow: 0 1px 3px rgba(0,0,0,.4),0 0 30px rgba(0,0,0,.075);
}

div#twitter-ui-buttons {
  position: relative;
  top: 70px;
  font-size: 18px;
}

#login-buttons-twitter, #login-buttons-logout {
  background: #fff !important;
}

.text-besides-image, #login-buttons-logout {
  color: #596595 !important;
}

.login-display-name, a#jsconfbr-link {
  color: #fff;
}

a.twitter-link {
  text-decoration: none;
}

a#jsconfbr-link {
  top: 110px;
  text-decoration: underline;
}
