body {
  background-color: rgba(19, 155, 180, .1);
}

.detached {
  padding: 20px 0;
  text-align: center;
}

.detached > div > div {
  padding: 10px;
  background-color: #FFF;
  border: 1px solid #d8e2e8;
  border-radius: 4px;
  transition: 0.2s;
}

.detached > div:hover > div {
  margin-top: -10px;
  border: 2px solid rgba(19, 155, 189, .5);
  box-shadow: 0 0 0 2px rgba(19, 155, 189, .5)
  background: rgba(200, 200, 200, 0.1);
  transition: 0.5s;
}

#jsconfbr-family {
    top: 55px;
    margin-bottom: 55px;
    height: 300px;
    text-align: center;
    background: url('http://2014.jsconfbr.org/images/front.jpg') center no-repeat;
}

.login-display-name {
  color: #fff;
}

#jsconfbr-family h1, #jsconfbr-family h2 {
    position: relative;
    margin: 0;
    top: 30px;
    font-weight: normal;
    text-align: center;
    text-shadow: 0 1px 3px rgba(0,0,0,.4),0 0 30px rgba(0,0,0,.075);
    color: #fff;
}

#jsconfbr-family h1 {
    font-size: 72px;
}

#jsconfbr-family h2 {
    font-size: 31px;
}

#jsconfbr-family .logo {
    position: relative;
    top: 30px;
    width: 80px;
    height: 80px;
    box-shadow: 0 1px 3px rgba(0,0,0,.4),0 0 30px rgba(0,0,0,.075);
}

div#twitter-ui-buttons {
  position: relative;
  top: 40px;
  font-size: 20px;
}

a#jsconfbr-link {
  text-decoration: none;
  top: 110px;
}

a#jsconfbr-link {
  text-decoration: none;
}
